[Unit]
Description=Run Elven AddressNative

[Service]
ExecStart=/home/ubuntu/npm/bin/npm start
WorkingDirectory=/home/ubuntu/bin/nrbn
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nrbn
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production


[Install]
WantedBy=multi-user.target